<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/TESSERACT</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="show_sql">true</property>
		<mapping class="mx.tesseract.admin.model.Colaborador" />
		<mapping class="mx.tesseract.admin.model.ColaboradorProyecto" />
		<mapping class="mx.tesseract.admin.model.EstadoProyecto" />
		<mapping class="mx.tesseract.admin.model.Proyecto" />
		<mapping class="mx.tesseract.admin.model.Rol" />
		<mapping class="mx.tesseract.admin.model.Telefono" />
		<mapping class="mx.tesseract.editor.model.Accion" />
		<mapping class="mx.tesseract.editor.model.Actor" />
		<mapping class="mx.tesseract.editor.model.Actualizacion" />
		<mapping class="mx.tesseract.editor.model.Atributo" />
		<mapping class="mx.tesseract.editor.model.Cardinalidad" />
		<mapping class="mx.tesseract.editor.model.CasoUso" />
		<mapping class="mx.tesseract.editor.model.CasoUsoActor" />
		<mapping class="mx.tesseract.editor.model.CasoUsoReglaNegocio" />
		<mapping class="mx.tesseract.editor.model.Elemento" />
		<mapping class="mx.tesseract.editor.model.Entidad" />
		<mapping class="mx.tesseract.editor.model.Entrada" />
		<mapping class="mx.tesseract.editor.model.EstadoElemento" />
		<mapping class="mx.tesseract.editor.model.Extension" />
		<mapping class="mx.tesseract.editor.model.Inclusion" />
		<mapping class="mx.tesseract.editor.model.InclusionId" />
		<mapping class="mx.tesseract.editor.model.Mensaje" />
		<mapping class="mx.tesseract.editor.model.MensajeParametro" />
		<mapping class="mx.tesseract.editor.model.Modulo" />
		<mapping class="mx.tesseract.editor.model.Operador" />
		<mapping class="mx.tesseract.editor.model.Paso" />
		<mapping class="mx.tesseract.editor.model.Pantalla" />
		<mapping class="mx.tesseract.editor.model.Parametro" />
		<mapping class="mx.tesseract.editor.model.PostPrecondicion" />
		<mapping class="mx.tesseract.editor.model.ReferenciaParametro" />
		<mapping class="mx.tesseract.editor.model.ReglaNegocio" />
		<mapping class="mx.tesseract.editor.model.Revision" />
		<mapping class="mx.tesseract.editor.model.Salida" />
		<mapping class="mx.tesseract.editor.model.Seccion" />
		<mapping class="mx.tesseract.editor.model.TerminoGlosario" />
		<mapping class="mx.tesseract.editor.model.TipoAccion" />
		<mapping class="mx.tesseract.editor.model.TipoComparacion" />
		<mapping class="mx.tesseract.editor.model.TipoDato" />
		<mapping class="mx.tesseract.editor.model.TipoParametro" />
		<mapping class="mx.tesseract.editor.model.TipoReglaNegocio" />
		<mapping class="mx.tesseract.editor.model.Trayectoria" />
		<mapping class="mx.tesseract.editor.model.UnidadTamanio" />
		<mapping class="mx.tesseract.editor.model.Verbo" />
		<mapping class="mx.tesseract.generadorPruebas.model.ConfiguracionBaseDatos" />
		<mapping class="mx.tesseract.generadorPruebas.model.ConfiguracionHttp" />
		<mapping class="mx.tesseract.generadorPruebas.model.ValorEntrada" />
		<mapping class="mx.tesseract.generadorPruebas.model.EscenarioValorEntrada" />
		<mapping class="mx.tesseract.generadorPruebas.model.Escenario" />
		<mapping class="mx.tesseract.generadorPruebas.model.ValorMensajeParametro" />
		<mapping class="mx.tesseract.generadorPruebas.model.Query" />
		<mapping class="mx.tesseract.generadorPruebas.model.ValorEntradaTrayectoria" />
		<mapping class="mx.tesseract.generadorPruebas.model.ValorAccionTrayectoria" />
		<mapping class="mx.tesseract.generadorPruebas.model.ValorMensajeParametroTrayectoria" />
		<mapping class="mx.tesseract.generadorPruebas.model.ValorPantallaTrayectoria" />
		<mapping class="mx.tesseract.generadorPruebas.model.ErroresPrueba" />
		<mapping class="mx.tesseract.generadorPruebas.model.Prueba" />
		<mapping class="mx.tesseract.guionPruebas.model.Sinonimo" />
		<mapping class="mx.tesseract.guionPruebas.model.VerboSinonimo" />
		<mapping class="mx.tesseract.guionPruebas.model.Instruccion" />
		<mapping class="mx.tesseract.guionPruebas.model.GuionPrueba" />
		
		
	</session-factory>
</hibernate-configuration>
